# Main requirements for running the unleashed app api
# Conventions:
#  - Always pin requirements exactly (using ==). This prevents unexpected upgrades breaking the code
#  - Always include dependencies of packages. We install with --no-deps to prevent version clashes between dependencies
#  - Put an empty line and comment line above each requirement, with the dependencies directly underneath

# The Django framework
Django==2.0

# Work with timezones
pytz==2017.3

#Mysql database support
mysqlclient==1.3.12

# Django addon to provide a REST framework
djangorestframework==3.7.3

#Google Authentication: django-rest-framework-social-oauth2
PyJWT==1.5.3
certifi==2017.11.5
chardet==3.0.4
defusedxml==0.5.0
django-braces==1.12.0
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.1.0
idna==2.6
oauthlib==2.0.6
python3-openid==3.1.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
urllib3==1.22

# Gspread
gspread==0.6.2

# Oauth2client
oauth2client==4.1.2


